header {
    background-color: rgb(0, 0, 0, 0.13);
    padding: 10px;
    width: 70%;
    margin: auto;
    border: 10px;
    border-color: blueviolet;
    border-style: solid;
}

body {
    background-image: url("pexels-aleksandar-pasaric-325185.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
    font-family: 'Lobster', cursive;
}

form {
    padding-left: 20px;
}